@media only screen and (min-width: 160px) {
    .margin {
        margin-top: 15px;
        margin-bottom: 200px;
    }
    .desktop{
        display: none;
        
    }    
    .navbar ul {
        display: none;
    }

    .effect_logos {
        height: 90px;
        position: absolute;
        top: 4px;
    }
    .menu .change {
        position: absolute;
    }
    .change ul {
        display: block;
        position: absolute;
        left: -300px;
        width: 365px;
        background-color: #98FB98;
        top: 75px;
    }
}

@media only screen and (min-width: 375px) {
    .change ul {
        left: -350px;
        width: 415px;
    }
}

@media only screen and (min-width: 568px) {
    .change ul {
        left: -510px;
        width: 575px;
    }
}

@media only screen and (min-width: 700px) {
    .menu {
        visibility: hidden;
    }
    .desktop{
        display: flex;
        
    }    
    .effect_logos {
        height: 150px;
        position: absolute;
        top: 14px;
    }
    #open {
        visibility: hidden;

}

@media only screen and (min-width: 1200px) {
    .margin {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .footer {
        padding-top: 0px;
    }
}

@media only screen and (min-width: 1400px) {
    .navbar ul {
        display: none;
    }
}